.header-become{
    background: url(./img/lavora-con-noi.jpg);
    height: 70vh;
    background-size: cover;
}

.btn-makerevisor{
    background-color: #db9320;
    color: white;
    width: 300px;
    height: 50px;
}

.btn-makerevisor:hover{
    background-color: #db9320;
    color: white;
}

footer{
    min-height: 80vh;
}