body{
    font-family: 'Manrope', sans-serif;
    background: url(./img/sfondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.roundedCustom{
    border-radius: 16px;
}

.btn-index{
    background-color: lightskyblue;
}