body{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background: url(./img/sfondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.roundedCustom{
    border-radius: 16px;
    background: transparent;
}

.btn-index{
    background-color: lightgray;
}

.width-annunci{
    width: 65%;
} 
