footer{
    width: 100%;
    min-height: 100%!important;
    position: relative;
    display: flex;
    justify-content: center; 
    background-color: rgb(0, 0, 0);
}

.footer-wrapper .social-icons,
.footer-wrapper .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    list-style-type: none;
      
}

.footer-wrapper .social-icons li,
.footer-wrapper .menu li{
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    
}

.footer-wrapper .social-icons li:hover{
    transform: translateY(-10px);
    
}

.footer-wrapper .menu li a{
    color: white;
    opacity: 0.70;
}

.footer-wrapper .menu li a:hover{
    opacity: 1;
}

:root{
    --color-black: rgb(0, 0, 0);
}