body {
    font-family: 'Lato', sans-serif;
    margin:0;
    padding: 0;
  }
  
.header-h1 {
    
    font-weight:600;
    letter-spacing: 2px;
    font-size: 5rem;

  }
.header-p{
    font-weight: 500;
    font-size: 25px;
    color: #333333;
  }

.textCustom{
    margin-top: 20vh;
  }
  
.headerBox {
    height: 80vh;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.40)),
    url('./img/libri.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
