body {
    font-family: 'Lato', sans-serif;
    margin:0;
    padding: 0;
  }
  
.header-h1 {
    
    font-weight:300;
    letter-spacing: 2px;
    font-size: 4rem;

  }
.header-p{
    
    letter-spacing: 1px;
    font-size: 20px;
    color: #333333;
  }

.textCustom{
    margin-top: 23vh;
  }
  
.headerBox {
    height: 100vh;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.40)),
    url('./img/libri.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
