.navbarBlur{
    transition: 1s;
    background-color: #b2715000;
    min-height: 7vh;
}

.hrefCustom{
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.721);
}

.navbar-scroll{
    background-color: #db9320;
    transition: 1s;
}
/* .counter-left{
    margin-right: 200px !important;
} */


@media screen and (max-width: 450px){
    .left-counter{
        right: 135px;
    }

    .nav-color-scroll{
        background-color: #db9320;
    }
}