.btnShow{
    background-color: rgba(128, 128, 128, 0.451);
    border-radius: 5px;
    width: 130px;

}

.border-show{
    border: 2px solid #db9320;
    border-radius: 20px;
}

.btn-color-show{
    background-color: lightgray;
}

.btn-color-show:hover{
    background-color: #db9320;
}