body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
=======
    background-color: grey;
    font-family: 'Manrope', sans-serif;
>>>>>>> 940f9e890e5058f52edbf80cc6978ae154987c6f
}