.div-custom{
    display: flex;
    justify-content: center;
    height: 5vh;
    background: linear-gradient(to top, rgba(219, 147, 32, 1), rgba(248, 134, 3, 0.559));
}

.btn-revisor{
    background-color: rgb(219, 147, 32);
    color: white;
    width: 300px;
    height: 50px;
}

.a-work{
    margin-top: 100px;
}

.btn-revisor:hover{
    background-color: #db9320;
    color: white;
}

.img-work{
    width: 600px;
}

.p-work{
    text-align: center;
}
.header-custom-work{
    background: url(./img/lavora-con-noi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 10vh;

    height: 80vh;
}

@media screen and (max-width: 1080px){
    .header-custom{
        height: 40vh;
    }
}

@media screen and (max-width: 767px){
    .header-custom{
        height: 40vh;
    }
}